Repository nalabelle/compose: changes, and which pre-commit hooks are due for each by the changed paths.
All: dclint-common, dclint-root

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: no-commit-to-branch
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: dclint-common
        name: dclint (common)
        language: docker_image
        entry: zavoloklom/dclint --config=common/.dclintrc.yaml --fix
        files: ^common/compose\..*yaml$
      - id: dclint-root
        name: dclint (root)
        language: docker_image
        entry: zavoloklom/dclint --fix
        files: ^compose\..*yaml$

ci: put lint back in makefile for github action, format remaining composes
  Makefile
  compose.home-automation.yaml
  compose.media.yaml
  compose.system.yaml
Due: dclint-root

refactor(apps): clean up miniflux depends and format
  compose.apps.yaml
Due: dclint-root

feat(common): add mariadb
  .pre-commit-config.yaml
  common/compose.mariadb.yaml
  secrets/common/mariadb/password
Due: dclint-common

feat(files): add files project
  compose.files.yaml
  secrets/files/paperless/dbpass
  secrets/files/photoprism/env
Due: dclint-root

build: move lint to devbox from make
  Makefile
  devbox.json
Due: none

feat(system): add file config for metrics scrape
  config/system/metrics-scrape-configs.yaml
Due: none

ci: add rebase flag for git on setup
  .pre-commit-config.yaml
  Makefile
Due: none

feat(media): add mount to ytdlp
  compose.media.yaml
Due: dclint-root

feat(make): add prune command
  Makefile
Due: none

feat(system): add file path for vmalert config
  compose.system.yaml
Due: dclint-root

feat(system): move push monitor back into alerting
  compose.system.yaml
  config/system/alerts.yaml
  config/system/push-monitor
  secrets/system/alertmanager-config.yaml
  secrets/system/push-monitor-url
Due: dclint-root

chore(make): add .env to deploy
  Makefile
Due: none

feat(system): add external url to alertmanager
  compose.system.yaml
Due: dclint-root

feat(system): reduce push monitor repeat intervals
  secrets/system/alertmanager-config.yaml
Due: none

fix: separate networks out
  compose.apps.yaml
  compose.files.yaml
  compose.home-automation.yaml
  compose.media.yaml
  compose.system.yaml
Due: dclint-root

fix(files): fix photoprism env secrets
  secrets/files/photoprism/env
Due: none

ci: move linting/fixing to pre-commit
  .editorconfig
  .github/workflows/lint.yaml
  .pre-commit-config.yaml
  .prettierrc.toml
  Makefile
  README.md
Due: none

fix(system): remove non-proxy networks from scrape config
  config/system/metrics-scrape-configs.yaml
Due: none

fix(apps): fix traefik label
  compose.apps.yaml
Due: dclint-root

refactor: isolate default networks
  compose.apps.yaml
  compose.files.yaml
  compose.home-automation.yaml
  compose.media.yaml
  compose.system.yaml
Due: dclint-root

fix: containers with networks need to be explicitly added to the default compose network
  common/compose.mariadb.yaml
  common/compose.postgres.yaml
  compose.apps.yaml
  compose.files.yaml
  compose.home-automation.yaml
  compose.media.yaml
  compose.system.yaml
Due: dclint-common, dclint-root

fix(files): whoops, forgot to add photos mounts
  compose.files.yaml
Due: dclint-root

chore: Unpin photoprism because it's not getting updates with that tag
  compose.files.yaml
Due: dclint-root

feat(files): add photoprism tasks
  compose.files.yaml
  config/files/photoprism-maintenance
Due: dclint-root

chore(pre-commit): add shfmt for shell script formatting
  .pre-commit-config.yaml
Due: none

chore(system): extend downtime alert duration from 5m to 15m
  config/system/alerts.yaml
Due: none

chore(makefile): rename clean-docker target to docker-clean and update secret handling
  Makefile
Due: none

feat(mariadb): add backup script
  common/compose.mariadb.yaml
  config/common/mariadb/db-backup
Due: dclint-common

feat(system): add cadvisor and node exporters
  compose.system.yaml
Due: dclint-root

ci: move dclint to npm
  .dclintrc.yaml
  .github/workflows/commit-lint.yml
  .github/workflows/lint.yaml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  common/compose.mariadb.yaml
  common/compose.postgres.yaml
  compose.apps.yaml
  compose.files.yaml
  compose.home-automation.yaml
  compose.media.yaml
  compose.system.yaml
  config/common/postgres/db-backup
  devbox.json
  devbox.lock
  package-lock.json
  package.json
Due: dclint-common, dclint-root

feat: add deploy script
  .env.tpl
  Makefile
  bin/deploy
Due: none
